@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
}
@custom-variant dark (&:where(.dark, .dark *));



a {

  text-decoration: inherit;
  text-decoration: none;
}


body {
  margin: 0;



  min-height: 100vh;
}


