@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



a {

  text-decoration: inherit;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;



  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

